<!-- builds/templates/builds/build_list.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Список сборок</h2>
    <a href="{% url 'builds:build_create' %}">Создать новую сборку</a>
    <ul>
        {% for build in builds %}
            <li>
                <a href="{% url 'builds:build_detail' build.pk %}">
                    Сборка {{ build.pk }} ({{ build.cpu.manufacturer }} {{ build.cpu.model }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}